<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
            width: 200px;
            height: 150px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>The official gucci ripoff</h1>
    <p>Wanna buy gucci but don't wanna pay that cash money? This is for you!</p>
    <h2>SHOES</h2>
    <img src ="static/feetshoes.jpeg">
    <img src="static/idEvenk.jpeg">
    <img src="static/fishydude.jpeg"> 
    <h2>HATS</h2>
    <img src="static/ashyhat.jpeg">
    <img src="static/nobagnoprob.jpeg">
</body>
</html>